@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-nav{
    top: -1000%;
}

body{
    color: #374151;
}
html {
    scroll-behavior: smooth;
}
.navShadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.navShadow_dark {
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.151), 0 2px 4px -2px rgba(255, 255, 255, 0.151);
}
.main-title{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
    position: relative;
    width: fit-content;
}

.main-title::before{
    position: absolute;
    content: "";
    width: 70%;
    height: 4px;
    background-color: #374151;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
}

/* "Everything is coming precisely as mohamed planned." */
